
FashionMNIST/FashionMNIST/raw/t10k-images-idx3-ubyte
FashionMNIST/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
FashionMNIST/FashionMNIST/raw/t10k-labels-idx1-ubyte
FashionMNIST/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
FashionMNIST/FashionMNIST/raw/train-images-idx3-ubyte
FashionMNIST/FashionMNIST/raw/train-images-idx3-ubyte.gz
FashionMNIST/FashionMNIST/raw/train-labels-idx1-ubyte
FashionMNIST/FashionMNIST/raw/train-labels-idx1-ubyte.gz
